Repository wopian/kitsu, pull requests merged in 2022-08, with the labels that each got.

#700 ci: update renovate config to repository
  package.json
Labels: chore

#699 fix(kitsu-core): fix inability to link relationship links on circular resources
  packages/kitsu-core/src/deserialise/index.js
  packages/kitsu-core/src/deserialise/index.spec.js
  packages/kitsu-core/src/linkRelationships/index.js
Labels: bug, severe, test, kitsu-core

#702 docs(kitsu-core): update jsdoc for deserialise function
  packages/kitsu-core/src/deserialise/index.js
Labels: kitsu-core, documentation

#703 docs(kitsu-core): update jsdoc for deserialise function
  packages/kitsu-core/src/deserialise/index.js
Labels: kitsu-core, documentation

#704 docs: list pedep as a contributor
  packages/kitsu-core/package.json
  packages/kitsu/package.json
Labels: kitsu, kitsu-core, documentation

#705 docs: remove david badge
  packages/kitsu-core/README.md
  packages/kitsu/README.md
Labels: kitsu, kitsu-core, documentation

#706 docs: remove david badge
  README.md
  packages/kitsu-core/README.md
  packages/kitsu/README.md
Labels: kitsu, kitsu-core, documentation

#722 fix(kitsu-core): prevent relationship mutation during multi-circular deserialisation
  packages/kitsu-core/src/deserialise/index.js
  packages/kitsu-core/src/deserialise/index.spec.js
Labels: bug, test, kitsu-core

#727 fix(kitsu-core): deserialize meta only relationships
  packages/kitsu-core/src/deserialise/index.spec.js
  packages/kitsu-core/src/linkRelationships/index.js
Labels: bug, test, kitsu-core

#728 fix(kitsu-core): deserialize meta only relationships
  packages/kitsu-core/src/deserialise/index.spec.js
  packages/kitsu-core/src/linkRelationships/index.js
Labels: bug, test, kitsu-core
